body { padding-top: 70px; }

.container {
    width: 90%;
}

.site-container {
    width: 90%;
    margin: 0 auto 0 auto;
}

.card {
    width: 300px;
    height: 150px;
    border: 1px solid;
    float: left;
    margin: 10px;
    padding: 10px;
}

.card h1 {
    margin-top: 0;
    font-size: 1.2em;
}

.card p {
    font-size: 0.96em;
}

