body {
    padding-top: 70px;
    background-color: #eee;
}

.container {
    width: 90%;
    margin: 0 auto 0 auto;
}

nav .container {
    padding-left: 25px;
}

.card {
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: solid 1px #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    color: #777;
}

.card:hover {
    color: #555;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding:2px 5px;
    background:#ccc;
}

.close-btn a {
    color:#000;
}

.close-btn a:hover {
    color:#fff;
}

.card h1 {
    margin-top: 0;
    font-size: 1.2em;
}

.card p {
    font-size: 0.96em;
}

.modal-header input {
    width: 100%;
}

.modal-body textarea {
    width: 100%;
}

.btn, .form-control {
    border-radius: 0;
}
